.aboutmeWrapper{
    width:100vw;
    height:100vh;
    font-family: 'Ubuntu';
}
.aboutRow{
    height:100%;
    margin:auto;
    
}
.aboutmeWrapper #left{
    height:100%;
    background-color:black;
    display: flex;
  align-items: center;
  justify-content: center
}
.carousel-item img{
    width:200px;
    height:200px;
}
.aboutmeWrapper #right {
    text-align: center;  
    
}
#right h1{
    font-weight: bolder;
}
.contentContainer #left2{
    display: flex;
    flex-direction: column; 
}
.square{
    background-color:black;
    color:white;
    width:200px;
    margin-top:12%;
    height:100px;
    display: FLEX;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease; /* Safari 3.1 to 6.0 */
}
.square.active{
    background-color:white;
    color:black;
}
.square:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}
#right2{
    text-align:center;
}
.bigSquare{
    margin-top:4%;
    background-color: black;
    color:white;
    width:100%;
    height:30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.bigContent{
    display: none;
}
.bigContent.active{
    display:block;
}
#resume{
    background-color:black;
    color:white;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease; /* Safari 3.1 to 6.0 */
    margin-bottom:2%;
}
#resume:hover{
    background-color:white;
    color:black;
    margin-bottom:4%;
}

.triggermodal{
    position:fixed;
    right:0;
    left:23px;
    bottom:23px;
    width:10vw;
    color:black;
    background-color:white;
}
.triggermodal:hover{
    background-color: black;
    color:white
}
@media only screen and (max-width:1024px){
    #left{
        width:100%;
    }
    .aboutmeWrapper #left{
        height:50%;
    }
    #right{
        width:100%;
    }
    .square{
        width:100%;
    }
    .bigSquare{
        height:60vw;
    }
}
@media only screen and (max-width:415px){
    .square{
        height:50px;
        margin-top:4%;
    }
    h1{
        font-size:2rem;
    }
    h4{
        font-size:1.5rem;
    }
    .triggermodal{
        width:30vw;
    }
    .square{
        width:200px;
    }
}

/* @media only screen and (max-width:1025px){
    #left2{
        width:50%;
    }
}
@media only screen and (max-width:769px){
    #left{
        width:50%;
    }
    #right{
        width:50%;
    }

    .square{
        width:200px;
        height:50px;
    }
    #right2{
        width:100%;
    }
    #left2{
        width:100%;
    }
    .bigSquare{

    }
} */
