{% load staticfiles %}
  <!DOCTYPE html>
  <html>
    <head>
        <title>Adykarta's</title>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!--jquery cdn-->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" type="text/css" href="{% static '/css/about.css' %}" />
      
    </head>

    <body>
            
        <div class="aboutmeWrapper">
                <a class="waves-effect waves-light btn modal-trigger triggermodal" href="#modal1">ADMIN</a>

                <!-- Modal Structure -->
                <div id="modal1" class="modal modal-fixed-footer">
                  <div class="modal-content">
                    <h4>Edit</h4>
                    
                    <div class="row">
                        <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                            <input placeholder="Name" id="nameInput" type="text" class="validate" required="" aria-required="true">
                            <label for="first_name">Name</label>
                            </div>
                        </div>
                        <div class="row">
                                <div class="input-field col s12">
                                <input  id="resInput" type="text" class="validate" placeholder="Resume Link" required="" aria-required="true">
                                <label for="res">Resume Link</label>
                                </div>
                            </div>
                        <div class="row">
                            <div class="input-field col s12">
                            <input  id="eduInput" type="text" class="validate" placeholder="Education" required="" aria-required="true">
                            <label for="edu">Education</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                            <input  id="expInput" type="text" class="validate" placeholder="Experiences" required="" aria-required="true">
                            <label for="edu">Experiences</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s12">
                            <input  id="workInput" type="text" class="validate" placeholder="Work" required="" aria-required="true">
                            <label for="edu">Work</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                            <input  id="achInput" type="text" class="validate" placeholder="Achievements" required="" aria-required="true">
                            <label for="edu">Achievements</label>
                            </div>
                        </div>
                        
                        </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="submit" onclick="postEdit()">Agree</a>
                  </div>
                </div>
                        
            <div class="row aboutRow">
                
                <div id="left" class="col s12 m4 l6">
                        <div class="carousel">
                            <a class="carousel-item" href="#one!"><img src="{% static '/img/tiga.jpg' %}"></a>
                            <a class="carousel-item" href="#two!"><img src="{% static '/img/satu.jpg' %}"></a>
                            <a class="carousel-item" href="#three!"><img src="{% static '/img/dua.jpg' %}"></a>
                            <a class="carousel-item" href="#four!"><img src="{% static '/img/empat.jpg' %}"></a>
                            <a class="carousel-item" href="#five!"><img src="{% static '/img/lima.jpg' %}"></a>
                      </div>
                </div>
                {% for biodatas in biodatas %}
                <div id="right" class="col s12 m4 l6">
                    <h1>{{biodatas.name}}</h1>
                    <a href="{{biodatas.resume_link}}"><button id="resume" class="btn waves-effect waves-light" type="submit" name="action">SEE MY RESUME
                            <i class="material-icons right">send</i>
                        </button></a>
                    <div class="contentContainer">
                        <div id="left2" class="col s12 m4 l4">
                            <div class="square active" id="education" onclick="clicked(this.id)">EDUCATION</div>
                            <div class="square" id="experiences"onclick="clicked(this.id)">EXPERIENCES</div>
                            <div class="square" id="work"onclick="clicked(this.id)">WORK</div>
                            <div class="square" id="achievements"onclick="clicked(this.id)">ACHIEVEMENTS</div>

                        </div>
                        <div id="right2" class="col s12 m8 l8">
                            <div class="bigSquare" >
                                <div class="bigContent active" id="edu">
                                    <h4>{{biodatas.edu}}</h4>  
                                </div>
                                <div class="bigContent" id="exp">
                                       <h4>{{biodatas.exp}}</h4>
                                </div>
                                <div class="bigContent" id="wor">
                                        <h4>{{biodatas.work}}</h4>
                                </div>
                                <div class="bigContent" id="ach">
                                        <h4>{{biodatas.ach}}</h4> 
                                </div>
                                 
                            </div>
                            
                        </div>
                    </div>                  
                </div>
                {% endfor %}
           
            </div>

        </div>
        <script>
            function postEdit(){
                var inpName = document.getElementById("nameInput").value
                var inpRes = document.getElementById("resInput").value
                var inpEdu = document.getElementById("eduInput").value
                var inpWork = document.getElementById("workInput").value
                var inpExp = document.getElementById("expInput").value
                var inpAch = document.getElementById("achInput").value
              

                $.ajax({
                    
                    url: '{% url "update" %}',
                    type: 'POST',
                    data:{'name':inpName,
                        'resume':inpRes,
                        'edu':inpEdu,
                        'work':inpWork,
                        'exp':inpExp,
                        'ach':inpAch,
                    },
                    success: function(x){
                        window.location.href="/"
                    },
                    error: function(error){
                        console.log(error)
                    }

                })
            }
             function clicked(x){
                var edu = document.getElementById("education")
                var exp = document.getElementById("experiences")
                var work = document.getElementById("work")
                var ach = document.getElementById("achievements")

                if(x==="education"){
                    edu.classList.add("active");
                    exp.classList.remove("active");
                    work.classList.remove("active");
                    ach.classList.remove("active");

                    document.getElementById("edu").classList.add("active")
                    document.getElementById("exp").classList.remove("active")
                    document.getElementById("wor").classList.remove("active")
                    document.getElementById("ach").classList.remove("active")
                }
                if(x==="experiences"){
                    exp.classList.add("active");
                    edu.classList.remove("active");   
                    work.classList.remove("active");
                    ach.classList.remove("active");

                    document.getElementById("exp").classList.add("active")
                    document.getElementById("edu").classList.remove("active")
                    document.getElementById("wor").classList.remove("active")
                    document.getElementById("ach").classList.remove("active")
                }
                if(x==="work"){
                    work.classList.add("active");
                    edu.classList.remove("active");   
                    exp.classList.remove("active");
                    ach.classList.remove("active");

                    document.getElementById("wor").classList.add("active")
                    document.getElementById("exp").classList.remove("active")
                    document.getElementById("edu").classList.remove("active")
                    document.getElementById("ach").classList.remove("active")
                }
                if(x==="achievements"){
                    ach.classList.add("active");
                    edu.classList.remove("active");   
                    exp.classList.remove("active");
                    work.classList.remove("active");

                    document.getElementById("ach").classList.add("active")
                    document.getElementById("exp").classList.remove("active")
                    document.getElementById("wor").classList.remove("active")
                    document.getElementById("edu").classList.remove("active")

                }
            }
           $(document).ready(function(){
                $('.modal').modal();
            });

            
      
        </script>
      <!--JavaScript at end of body for optimized loading-->
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="{% static '/js/about.js' %}"></script>
   
     
    </body>
  </html>
        